/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #333; /* Light gray background */
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS13N326duSG-n1b4UiCaF5uHLbB_cjhxs-0g&s'); /* Optional: Add a background image */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-attachment: fixed; /* Keep the background image fixed */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
