/* index.css */

/* Ensure html and body take full height and have no margin */
html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Main container to take full viewport height */
#root {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
}

/* Background image for the entire app */
body {
  background: url('./images/image.png') no-repeat center center fixed;
  background-size: cover; /* Cover the entire viewport */
}
