/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0; /* Light gray background */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-attachment: fixed; /* Keep the background image fixed */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
