.home-container {
    font-family: Arial, sans-serif;
    margin-top: 40px;
    
  }
  
  
  .hero-section {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 0px;
  }
  
  .hero-image {
    width: 100%;
    height: auto;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Optional: to improve text readability */
    padding: 20px;
    border-radius: 10px;
  }
  
  .features-section, .testimonials-section {
    padding: 40px 20px;
    text-align: center;
  }
  
  .features, .testimonials {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .feature, .testimonial {
    max-width: 300px;
    margin: 20px;
    text-align: left;
  }
  
  .feature h3, .testimonial p {
    margin: 10px 0;
  }
  .carousel-section {
    margin: 20px auto;
    max-width: 500px;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    display: block;
  }
  